.appartement-page {
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    flex-direction: column;
    padding: 0 100px;
    
    .dropdown-menu {
        height : 220px
    }
}


.headerDescription {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;

    h1 {
        font-weight: 500;
        font-size: 2.25rem;
        line-height: 51.34px;
        color: #FF6060;
        font-family: Montserrat, Arial, sans-serif;
    }
}


.location {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 25.67px;
    color: #000000;
    font-family: Montserrat, Arial, sans-serif;
}


.hostContainer {
    display: flex;
    align-items: center;
}

.hostPic {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.hostName {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 25.67px;
    color: #FF6060;
    font-family: Montserrat, Arial, sans-serif;
    width: 93px;
    height: 52px;
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    
    
}

.tag {
    height: 25px;
    background: #FF6060;
    border-radius: 10px;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 17.94px;
    color: #FFFFFF;
    font-family: Montserrat, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 10px;
    
}

@media screen and (max-width: 960px) {
    .appartement-page {
        flex-direction: column;
        padding: 0 20px;
    }

    .logement-host-and-rating {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logement-host {
        order: 2;
        padding: 0;
        font-size: 12px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: right;
    }

    .headerDescription {

        flex-direction: column;
        padding-bottom: 27px;

        h1 {
            font-size: 18px;
            line-height: 26px;
        }

       
    }

    .host-and-rating {
        display : flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
   
    .carousel-arrows {
        .next {
            justify-content: flex-end;
        }
        .prev {
            justify-content: flex-start;}

        svg {
            width: 24px;
            height: 24px;
        }
        
    }


    .logement-rating {
        gap: 7px;
    }

    .dropdown-container {
        flex-direction: column;
        .dropdown {
            width: 100% !important;
            margin-bottom: 10px;
        }
    }
}

@media screen and (max-width: 500px) {
    .slide-counter {
        display: none;
    }

    .location{
        font-size: 14px;
    
    }

    .dropdown-menu {
        font-size: 14px !important;
    }

    .dropdown-header{
        h2 {
            font-size: 13px;
            font-weight: 700;
            font-family: Montserrat, Arial, sans-serif;
        }
    }
}