.dropdown-container {
    margin-bottom: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;

    .dropdown {
        width: 45%;
        margin-bottom: 30px;
    }
}


.dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6060;
    color: white;
    border-radius: 10px;
    height: 52px;
    padding: 0 20px 0 10px;
}

.collapse-icon {
    transition: transform 0.16s ease;
}

.collapse-icon.open {
    transform: rotate(180deg);
}




.dropdown-menu {
    background-color: #F6F6F6;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    // line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 5px;
    color: black;
    padding: 20px;
    overflow: hidden;
    margin:auto;

    ul {
        list-style-type: none;
        padding: 0;
    }
   
}

.dropdown-menu.active {
    display: block;
}


  