.star-rating {
    justify-content:flex-end ;
    span {
        font-size: 36px;
    }
}

.gold-star {
    color: #FF6060;
  }
  
  .gray-star {
    color: #E3E3E3;
  }

  @media screen and (max-width: 500px) { 
    .star-rating {
      span {
          font-size: 18px;
      }
  }
  } 